body{
	background-color:#f8f8f8;
	margin-inline: 50px;
} 

section{
	padding-inline:10px;
}
.book-libarary{
	background-color:#777777;
}
figure{
	text-align:center;
}
.auther,.title{
	text-align:left;
}

 .author {
        color: #777777;
      }

      .price {
        width: auto;
        padding: 10px;
        background-color: rgb(46, 204, 113);
        border-radius: 5px;
        text-align: center;
        color: white;
      }

      h1 {
        font-weight: bolder;
        text-align: center;
      }

      h2 {
        font-weight: bolder;
      }